
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-size: 18px;
}
header,main{
    background-color: rgb(255,194,52)
}
.texto_principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.texto_principal h3{
    border: 2px dashed rgb(65,31,9);
    font-size: 1rem;
    display: flex;
    width: max-content;
    padding: 0.5rem;
}
.texto_principal h1{
    font-size: 5rem;
}
.texto-principal h2{
    font-size: 3rem;;
}
.imagem_principal{
    position: relative;
}
.imagem_preco{
    position: absolute;
    bottom: 0;
    left: 0;
}
.delivery{
    color:rgb(65,31,9);
    font-weight: bold;
}
.hamburguer_esquerda{
    background-image: url("../img/sessao1/fundo1.png");
    background-repeat: no-repeat;
    width: 549px;
    height: 387px;
    color: white;
    padding: 1rem;
}
.hamburguer_direita_img1{
    background-image: url("../img/sessao1/fundo2.png");
    width: 548px;
    height: 177px;
    color: white;
    padding: 1rem;
}
.hamburguer_direita_img2{
    background-image: url("../img/sessao1/fundo3.png");
    width: 548px;
    height: 177px;
    color: white;
    padding: 1rem;
}
.menu_textos{
    color: rgb(65,31,9);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.menu_textos h4{
    font-size: 1rem;
    background-color: rgb(255,194,52);
    display: flex;
    width: max-content;
    padding: 0.5rem;
}
.menu_textos h3{
    font-weight: bold;
    font-size: 2.5rem;
}
.menu_textos p{
    padding: 0 5rem 2rem 5rem;
}
.card{
    color: rgb(65,31,9);
    border: none;
    height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-title{
    text-align: center;
}
.card-text{
    font-size: 0.8rem;
    text-align: center;
    flex-grow: 1;
}
.btn-primary{
    background-color: RGB(223,28,28);
    border: none;
    font-weight: bold;
    width: 70%;
    border-radius: 0;
}
.btn-primary:hover{
    background-color: rgb(255,194,52);
    color: RGB(223,28,28);
}
.discover_imagem{
    width: 100% ;
}
.discover{
    color: rgb(65,31,9);
}
.discover h4{
    font-size: 1.3rem;
}
.discover h3{
    font-size: 2rem;
    font-weight: bold;
}
.discover p{
    font-size: 0.8rem;
}
@media (max-width: 980px){
    *{
        font-size: 20px;
    }
    #hamburguer_today .row{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .hamburguer_direita{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .card-img-top{
        width: 40%;
    }
    .btn-primary{
        width: 50%;
    }
}
@media(max-width: 576px){
    .card{
        height: 350px;
    }
}