
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;;
}
p{
    font-family: Arial, sans-serif
}
.container_cabecalho{
    background-color: rgb(255,194,52);
}
.container-fluid{
    display: flex;
    justify-content: space-between;
}

.container__main{
    background-color: rgb(255,194,52);
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 100%;
    align-items: center;
    padding: 15px;
    gap: 15px;
}
.container-logoAndImage{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.logo{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    color: rgb(65,31,9);
}
.logo_texto{
    padding: 5px;
    border: 2px dashed rgb(65,31,9);
    font-size: 18px;
}
.titulo{
    font-size: 70px;
}
.titulo_sessao{
    font-size: 50px;
}
.imagem{
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 50%;
    background-image: url(/img/main/lanche-principal.png);
    background-repeat: no-repeat;
}

.delivery{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: rgb(65,31,9);
    font-weight: bold;
}

