
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-size: 18px;
}
header,main{
    background-color: rgb(255,194,52)
}
.texto_principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.texto_principal h3{
    border: 2px dashed rgb(65,31,9);
    font-size: 1rem;
    display: flex;
    width: max-content;
    padding: 0.5rem;
}
.texto_principal h1{
    font-size: 5rem;
}
.texto-principal h2{
    font-size: 3rem;;
}
.imagem_principal{
    position: relative;
}
.imagem_preco{
    position: absolute;
    bottom: 0;
    left: 0;
}
.delivery{
    color:rgb(65,31,9);
    font-weight: bold;
}

.hamburguer_esquerda{
    background-image: url("../img/sessao1/fundo1.png");
    background-repeat: no-repeat;
    width: 549px;
    height: 387px;
    color: white;
    padding: 1rem;
}
.hamburguer_direita_img1{
    background-image: url("../img/sessao1/fundo2.png");
    width: 548px;
    height: 177px;
    color: white;
    padding: 1rem;
}
.hamburguer_direita_img2{
    background-image: url("../img/sessao1/fundo3.png");
    width: 548px;
    height: 177px;
    color: white;
    padding: 1rem;
}